html,
body {
  margin: 0px;
  background-color: rgb(252, 143, 0);
  color: rgba(1, 1, 1, 0.971);
}

.titulo {
  text-align: center;
  background-color: rgb(167, 32, 32);
  color: rgb(218, 0, 0);
  padding: 20px;
  font-size: 25px;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#jugador-carta,
#computadora-cartas {
  height: 240px;
}

.titulo{
    text-align: center;
    background-color:black;
    color: yellow;
    padding: 20px;
    font-size: 30px;
}
